header {
  background-color: #ffffff;
  color: #fff;
  padding: 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container > nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 24px;
  margin: 0;
  margin-right: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
  position: relative;
}

nav a {
  color: #333;
  text-decoration: none;
}

nav a:hover {
  color: #ccc;
}

.search {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.search input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 300px;
  background-color: rgb(149, 167, 203);
}

button {
  background-color: blue;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #83b085;
}

.container > button {
  margin-left: auto;
}

.dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.dropdown li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  width: 200px;
  display: flex;
  align-items: center;
}

.dropdown li a {
  text-decoration: none;
  color: black;
}

.dropdown li:hover {
  background-color: #f0f0f0;
}
