.manage-question {
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
}

.manage-question h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.manage-question .actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  text-align: left;
}

.manage-question .question-set-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}



.question-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  position: relative;
  margin-bottom: 15px;
}

.question-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-info {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
  gap: 5px;
  /* justify-content: space-between; */
}

.card-info span {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #666;
}

.question-card h2 {
  font-size: 18px;
  color: #333;
  margin: 0;
  text-align: left;
}

.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #ff6b6b;
  position: absolute;
  top: 10px;
  right: 10px;
}

.add-new-button,
.back-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-new-button:hover,
.back-button:hover {
  background-color: #0056b3;
}
.toggle-switch {
  width: 50px;
  height: 25px;
  border-radius: 25px;
  background-color: #ccc;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-switch.private {
  background-color: #4caf50; /* Màu cho chế độ Riêng tư */
}

.toggle-switch.public {
  background-color: #ccc; /* Màu cho chế độ Công khai */
}

.toggle-thumb {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.3s;
}

.toggle-switch.private .toggle-thumb {
  left: 27px; /* Vị trí khi ở chế độ Riêng tư */
}
