/* Flashcard Wrapper */
.flashcard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #0f172a; /* Dark background */
  color: white;
  padding: 20px;
}

/* Flashcard Container */
.flashcard-container {
  perspective: 1000px;
  width: 100%; 
  max-width: 800px;
  min-width: 600px;
  height: 250px; /* Fixed height */
  margin-bottom: 20px; /* Space between cards */
  cursor: pointer;
}

/* Flashcard Styling */
.flashcard {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  background-color: #1b2535;
  border-radius: 10px;
}

/* Flipping Effect */
.flipped {
  transform: rotateY(180deg);
}

/* Front and Back of the Flashcard */
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

/* Front Side of Flashcard */
.front {
  background-color: #1f2a3e;
  color: #e2e8f0;
}

/* Back Side of Flashcard */
.back {
  background-color: #334155;
  color: #94a3b8;
  transform: rotateY(180deg);
}

/* Question Counter */
.question-counter {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
  color: #cbd5e1;
}

/* Navigation Buttons */
.navigation-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Space between buttons */
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #60a5fa;
}

button.prev-button, button.next-button {
  width: 100px;
}

/* Terminology Section */
.terminology-section {
  margin-top: 40px;
  margin-bottom: 40px;
}

.terminology-card {
  background-color: #1e293b;
  color: white;
  border: 1px solid;
  border-radius: 10px;
  text-align: left;
  margin-bottom: 20px;
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
  .flashcard-container {
    width: 90%;
  }

  button {
    font-size: 16px;
    padding: 8px 16px;
  }
}


.question{
  border-right: 2px solid;
}